<div class="row">
  <div class="col-xs-12 centriraj linijaStajling spejsing">
    <hr>
    <p>Lines</p>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let departure of departures; let i = index">
        {{ departure }}
        <button class="btn btn-success spejsing" type="button">Add/Edit</button>
        <button class="btn btn-success spejsing" type="button">Delete</button>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 centriraj linijaStajling">
    <hr>
    <p>Stations</p>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let departure of departures; let i = index">
        {{ departure }}
        <button class="btn btn-success spejsing" type="button">Add/Edit</button>
        <button class="btn btn-success spejsing" type="button">Delete</button>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 centriraj linijaStajling">
    <hr>
    <p>Price List</p>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let departure of departures; let i = index">
        {{ departure }}
        <button class="btn btn-success spejsing" type="button">Add/Edit</button>
        <button class="btn btn-success spejsing" type="button">Delete</button>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 centriraj linijaStajling">
    <hr>
    <p>Time Tables</p>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let departure of departures; let i = index">
        {{ departure }}
        <button class="btn btn-success spejsing" type="button">Add/Edit</button>
        <button class="btn btn-success spejsing" type="button">Delete</button>
      </li>
    </ul>
  </div>
</div>