<div class="row">
  <div class="col-xs-12 centriraj linijaStajling spejsing">
    <hr>
    <p>Lines</p>
    <button class="btn btn-success spejsing" type="button" (click)="lineAdd()">Add</button>
    <button class="btn btn-success spejsing" type="button" (click)="lineEdit()">Edit</button>
    <button class="btn btn-success spejsing" type="button" (click)="lineDelete()">Delete</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 centriraj linijaStajling">
    <hr>
    <p>Stations</p>
    <button class="btn btn-success spejsing" type="button" (click)="stationAdd()">Add</button>
    <button class="btn btn-success spejsing" type="button" (click)="stationEdit()">Edit</button>
    <button class="btn btn-success spejsing" type="button" (click)="stationDelete()">Delete</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 centriraj linijaStajling">
    <hr>
    <p>Price List</p>
    <button class="btn btn-success spejsing" type="button" (click)="priceListAdd()">Add</button>
    <button class="btn btn-success spejsing" type="button" (click)="priceListEdit()">Edit</button>
    <button class="btn btn-success spejsing" type="button" (click)="priceListDelete()">Delete</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 centriraj linijaStajling">
    <hr>
    <p>Time Tables</p>
    <button class="btn btn-success spejsing" type="button" (click)="timetableAdd()">Add</button>
    <button class="btn btn-success spejsing" type="button" (click)="timetableEdit()">Edit</button>
    <button class="btn btn-success spejsing" type="button" (click)="timetableDelete()">Delete</button>
  </div>
</div>