<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <label class="text-muted spejsing">
        <input type="radio" name="tip" (click)="setCorI('0')">
        City
      </label>
      <label class="text-muted spejsing">
        <input type="radio" name="tip" (click)="setCorI('1')">
        Intercity
      </label>
      <div class="dropdown spejsing" appDropdown>
        <a style="cursor: pointer;" class="dropdown-toggle" role="button">{{ day }}<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a style="cursor: pointer;" (click)="changeDay('Monday')">Monday</a></li>
          <li><a style="cursor: pointer;" (click)="changeDay('Tuesday')">Tuesday</a></li>
          <li><a style="cursor: pointer;" (click)="changeDay('Wednesday')">Wednesday</a></li>
          <li><a style="cursor: pointer;" (click)="changeDay('Thursday')">Thursday</a></li>
          <li><a style="cursor: pointer;" (click)="changeDay('Friday')">Friday</a></li>
          <li><a style="cursor: pointer;" (click)="changeDay('Saturday')">Saturday</a></li>
          <li><a style="cursor: pointer;" (click)="changeDay('Sunday')">Sunday</a></li>
        </ul>
      </div>
      <div class="dropdown spejsing" appDropdown>
        <a style="cursor: pointer;" class="dropdown-toggle" role="button">{{ lineNumber }}<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <div *ngFor="let line of lines; let i = index">
            <li><a style="cursor: pointer;" (click)="setIndex(i)">{{lines[i].Id}}</a></li>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <hr>
  <div class="col-xs-12 centriraj linijaStajling">
    <p>Linija {{lineNumber2}}:</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let departure of departures; let i = index">
        {{ departure }}
      </li>
    </ul>
  </div>
</div>