<div class="row" *ngIf="!auth.isAuthenticated()">
  <div class="col-xs-12">
    <form #f="ngForm" (ngSubmit)="BuyTicketUnregisteredUser(f.value)">
      <div class="form-group">
          <label for="email">Mail</label>
          <input type="email" id="email" name="email" ngModel class="form-control">
      </div>
    <table>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Type of Ticket</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Hourly</th>
            <td>200$</td>
            <td><button type="submit" class="btn btn-success">Buy</button></td>
          </tr>         
        </tbody>
      </table>
    </table>
  </form>
  </div>
</div>

<div class="row" *ngIf="auth.isAuthenticated() && verifiedUser">
  <div class="col-xs-12">
    <table>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Type of Ticket</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Hourly</th>
            <td>Price</td>
            <td><button type="button" class="btn btn-success" (click)="change()">Buy</button></td>
          </tr>
          <tr>
            <th scope="row">Daily</th>
            <td>Price</td>
            <td><button type="button" class="btn btn-success" (click)="change()">Buy</button></td>
          </tr>
          <tr>
            <th scope="row">Monthly</th>
            <td>Price</td>
            <td><button type="button" class="btn btn-success" (click)="change()">Buy</button></td>
          </tr>
          <tr>
            <th scope="row">Yearly</th>
            <td>Price</td>
            <td><button type="button" class="btn btn-success" (click)="change()">Buy</button></td>
          </tr>
        </tbody>
      </table>
    </table>
  </div>
</div>

<div class="row" *ngIf="!verifiedUser">
  <div class="col-xs-12 centriraj linijaStajling">
    <p>You need to be verified to buy a ticket</p>
  </div>
</div>