<div class="row">
  <div class="col-xs-12">
    <table>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Type of Ticket</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Hourly</th>
            <td>Price</td>
            <td><button type="button" class="btn btn-success" (click)="change()">Buy</button></td>
          </tr>
          <tr>
            <th scope="row">Daily</th>
            <td>Price</td>
            <td><button type="button" class="btn btn-success" (click)="change()">Buy</button></td>
          </tr>
          <tr>
            <th scope="row">Monthly</th>
            <td>Price</td>
            <td><button type="button" class="btn btn-success" (click)="change()">Buy</button></td>
          </tr>
          <tr>
            <th scope="row">Yearly</th>
            <td>Price</td>
            <td><button type="button" class="btn btn-success" (click)="change()">Buy</button></td>
          </tr>
        </tbody>
      </table>
    </table>
  </div>
</div>